.formBox {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.formBox h3 {
  text-transform: capitalize;
  margin-bottom: 5%;
  font-size: 1.4rem;
  color: rgba(135, 135, 136, 0.87);
}

.formBox input,
.formBox textarea {
  width: 70%;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 1.3rem;
  outline: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.575);
  margin-top: 1rem;
}

.formBox input::placeholder {
  color: rgba(180, 178, 178, 0.931);
}

.formBox textarea::placeholder {
  color: rgba(180, 178, 178, 0.931);
}

.error {
  color: rgba(226, 3, 3, 0.753);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
